body {
    font-family: cursive;
    background-color:aliceblue;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Fondo para el header y enlaces */
h1 {
    font-size: 2.5rem;
    color: #1d3557;
    margin-top: 20px;
}

/* Estilo de los enlaces */
a {
    text-decoration: none;
    background-color: antiquewhite;
    color: #3498db;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 6px;
    display: inline-block; /* Hace que el enlace sea como un bloque */
    transition: all 0.3s ease;
}

/* Efecto al pasar el ratón */
a:hover {
    background-color: #3498db; /* Fondo al pasar el mouse */
    color: white; /* Cambiar el color del texto */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-decoration: none; /* Sin subrayado al pasar el mouse */
}

/* Agregar márgenes entre los enlaces */
a + a {
    margin-top: 15px;
}

/* Imagen */
img {
    width: 50%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 5px solid #3498db;
}

/* Estilo de los párrafos */
h3 {
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Estilo de las preguntas */
h2 {
    background-color: #1d3557;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Listas de respuestas */
ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

li {
    background-color:burlywood;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

/* Estilo de los campos de entrada */
input[type="text"] {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #3498db;
    outline: none;
}

/* Estilo de los botones */
button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1d3557;
}

/* Estilo para las respuestas */
p[id^="respuesta"] {
    font-size: 1.1rem;
    font-weight: bold;
    color: #3498db;
}

/* Sección de redes sociales */
h3 a {
    color: #3498db;
    text-decoration: none;
}

h3 a:hover {
    color: #1d3557;
    text-decoration: underline;
}

/* Estilo para mejorar la presentación de los botones */
button, input[type="text"] {
    transition: all 0.3s ease;
}